{% extends 'base.html' %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="info-container">

        <h1>This is VPN Service for - Protect Your Online Privacy and Security</h1>

        <p>Welcome to This is VPN Service, your ultimate solution for safeguarding your online privacy and enhancing your digital security.</p>
        <p>In an age where our digital footprints are constantly expanding, it's more crucial than ever to keep your online activities safe from prying eyes and potential threats.</p>

    </div>

{% endblock %}